<div class="iframe_dialog showMsg_dialog" style="z-index: 100;" data-dojo-attach-point="iframe_dialog">
    <div class="login_mask hide"></div>
    <div class="so_confirm">
        <div class="confirm_title">
            <h2>确认信息</h2>
        </div>
        <div class="confirm_body">
            <div class="cb-info" style="text-align: center;">
                <div class="cb-info-r" style="height: 100%;text-align: center;">
                    <span data-dojo-attach-point="confirmMsg" style="padding-left: 0;font-size: 18px;">
                    </span>
                </div>
            </div>
            <div class="cb-btn" style="text-align: center">
                <span class="button ok-btn" style="width: 170px;height: 39px;line-height: 39px;" data-dojo-attach-point="msgBtn">确定</span>
            </div>
        </div>
    </div>
</div>