<div class="iframe_dialog submitConfirm" style="z-index: 100;" data-dojo-attach-point="iframe_dialog">
    <div class="login_mask hide"></div>
    <div class="so_confirm">
        <div class="confirm_title">
            <h2>确认信息</h2>
        </div>
        <div class="confirm_body">
            <div class="cb-info">
                <div class="cb-info-l"></div>
                <div class="cb-info-r">
                    <span id="sc-address">
                        <!--收货信息：<br>
                        吴联请，15698742369<br>
                        浙江省&nbsp;杭州市&nbsp;余杭区&nbsp;梦想小镇天使村5号楼雄牛科技-->
                    </span>
                </div>
            </div>
            <div class="cb-info">
                <div class="cb-info-l info-icon"></div>
                <div class="cb-info-r">
                    <span id="sc-receipt">
                        <!--发票信息：<br>
                        发票类型：个人<br>
                        发票抬头：xijic-->
                    </span>
                </div>
            </div>
            <div class="cb-btn">
                <span class="button cancel-btn" data-dojo-attach-point="cancelBtn">取消</span>
                <span class="button float-r" data-dojo-attach-point="okBtn">确认</span>
            </div>
        </div>
    </div>
</div>