<div>
<div class="reg-l ui-form signup" data-dojo-attach-point="formNode" style="border-bottom: 1px dashed #ddd;">
    <div class="ui-form-item ui-form-title">
        <label class="ui-label-head">企业信息</label>
        <p class="ui-prompt-gray" style="float: right;position: relative;left:0;">按照证书上的内容逐字填写</p>
    </div>
    <div class="ui-form-item" data-dojo-attach-point="i1"></div>
    <div class="ui-form-item" data-dojo-attach-point="i2"></div>
    <div class="ui-form-item" data-dojo-attach-point="i3"></div>
    <div class="ui-form-item">
        <span data-dojo-attach-point="i4s1" style="display:inline-block;"></span>
        <span data-dojo-attach-point="i4" style="display:inline-block;"></span>
    </div>
    <div class="ui-form-item">
        <span data-dojo-attach-point="i5s1" style="display:inline-block;"></span>
        <span data-dojo-attach-point="i5" style="display:inline-block;"></span>
    </div>
    <div class="ui-form-item">
        <div data-dojo-attach-point="i6" style="display:inline-block;"></div>
        <div data-dojo-attach-point="i10" style="display:inline-block;"></div>
    </div>
</div>
<div class="reg-l ui-form signup" data-dojo-attach-point="formNode2" style="border-top: none;background: #fbf7f6;">
    <div class="ui-form-item ui-form-title" data-dojo-attach-point="formtitleNode2">
        <label class="ui-label-head">企业账户</label>
        <p class="ui-prompt-gray" style="float: right;position: relative;left:0;">请认真填写银行账户信息</p>
    </div>
    <div class="ui-form-item" data-dojo-attach-point="i7"></div>
    <div class="ui-form-item" data-dojo-attach-point="i7s1"></div>
    <div class="ui-form-item" data-dojo-attach-point="i8"></div>
    <div class="ui-form-item" data-dojo-attach-point="i11"></div>
    <div class="ui-form-item" data-dojo-attach-point="i9"></div>

</div>
</div>