<div class="reg-l ui-form signup" data-dojo-attach-point="formNode">
    <div class="ui-form-item ui-form-title">
        <label class="ui-label-head">快速注册</label>
        <p class="ui-prompt-gray" style="float: right;position: relative;left:0;">30秒注册，开启赚钱之路</p>
    </div>
    <p class="ui-prompt-gray" style="float: right;position: relative;left:0;top: -13px;">已有账号？<a href="${baseUrl}/user/signin.htm">返回登录</a></p>
    <div class="ui-form-item" data-dojo-attach-point="phoneNode"></div>
    <div class="ui-form-item" data-dojo-attach-point="phoneCodeNode"></div>
    <div class="ui-form-item" data-dojo-attach-point="pwdNode"></div>
    <div class="ui-form-item" data-dojo-attach-point="confirmPwdNode"></div>
    <div class="ui-form-item" data-dojo-attach-point="validationNode"></div>
    <div class="reg-c">
        <div class="font14">
            <input name="agree" type="checkbox" data-dojo-attach-point="agreeNode" value="1" class="cc"> 我已阅读，并同意

            <a href="#" style="color:#5993da;" data-dojo-attach-point="agreeWordsNode">《生意家+企业版服务协议》</a>
        </div>
    </div>
    <div class="ui-form-item" data-dojo-attach-point="nextBtnNode"></div>
</div>