<div class="reg-l ui-form signup" data-dojo-attach-point="formNode">
    <div class="ui-form-item ui-form-title">
        <label class="ui-label-head">注册已完成</label>
        <p class="ui-prompt-gray" style="float: right;position: relative;left:0;">您可以完善个人基本信息，或进入<a href="${baseUrl}/user/home.htm">生意家首页</a></p>
    </div>
    <div class="ui-form-item" data-dojo-attach-point="i1"></div>
    <div class="ui-form-item" data-dojo-attach-point="i2"></div>
    <div class="ui-form-item" data-dojo-attach-point="i6"></div>
    <div class="ui-form-item" data-dojo-attach-point="i3"></div>
    <div class="ui-form-item" data-dojo-attach-point="i4"></div>
    <div class="ui-form-item" data-dojo-attach-point="i5"></div>
</div>