{{#each items}}
	<div class="activityList">
		<a class="wp100 hp100" href="./activity-detail.html?code={{code}}">
			<p class="activityTit fl inline_block">{{name}}</p>
			<samp class="activityDate fr fs12">{{formateDateTime startDate}}</samp>
		</a>
	</div>
{{/each}}