{{#each items}}
	<div class="wp100 plr10 hig54 ba  bb clearfix ">
		<div style="height: 54px;vertical-align: middle;width: 0;display: inline-block;"></div>
		<div class="inline_block va">
	    	<div class="fs13 ">{{formatintegralStatus bizType}}</div>
	        <div class=" fs12 co9 pt8">{{formateDateTime createDatetime}}</div>
	    </div>
	    <div class="yellow fs16 va fr lh54">{{formatAmount transAmount}}</div>
	</div>
{{/each}}
