{{#each items}}
	<div class="item">
		<a class="wp100 hp100" href="../user/strategy-detail.html?code={{code}}">
		    <div class="item-c-div item-l">
		        <img class="center-img" src="{{formatImage pic}}">
		    </div>
		    <div class="item-c">
		        <div class="item-c-top1 c_00 t_norwrap">{{title}}</div>
		        <div class="travel-item-bottom">{{formatePointDate updateDatetime}}</div>
		    </div>
		</a>
	</div>
{{/each}}