<#assign title="购物车"/>
<#assign controller="Cart"/>
<#include 'layout/layout.html'/>
<#macro content>
<div class="container browser-webkit account-address" id="container"
	style="background-color: #FAFAFA; width: 100%; padding-top: 40px; padding-bottom: 40px;">
	<div class="user-info-body">
		<div class="user-content no-lr-margin" style="box-shadow: none;">
			<div class="cont-title" style="padding-right:24px;">
				<h2>我的购物车</h2>
			</div>
			<div class="cont-body" style="background-color: #fff;">
				<div class="cb-nav">
					<span class="d-order-name" style="width: 537px;">商品名称</span>
					<span class="d-order-unit" style="width:112px;">单价</span>
					<span class="d-order-count" style="text-align: center;">数量</span>
					<span class="d-order-amount cart-amount">小计</span>
					<span>操作</span>
				</div>
				<div class="cb-list-item h-auto no-lr-margin">
					<ul class="inline-div block-li d-order-ul" id="od-ul">
						<i class="loading-icon"></i>
						<!-- <li class="pad24" code="12366">
							<div><input type="checkbox"/></div>
							<div class="d-order-img"><img src="${staticUrl}/images/1.png"/></div>
							<div class="d-order-item-info" style="width: 820px;">
								<ul style="height: 100px;line-height: 100px;">
									<li class="cart-name-li">胶囊咖啡机</li>
									<li class="d-order-unit">￥600.00</li>
									<li class="d-order-count cart-count"><span class="subCount">-</span><input type="text" value="10"/><span class="addCount">+</span></li>
									<li class="d-order-amount">￥6000.00</li>
									<li class="cart-delete"><i></i></li>
								</ul>
							</div>
						</li> -->
					</ul>
					<div class="d-order-total so-order-total cart-total" id="od-total">
						<div style="display:inline-block;padding-left: 24px;"><input id="allChecked" type="checkbox" checked/>全选<span id="deleteCheck" class="cart-total-span color_333">删除选中的商品</span></div>
						<div style="float:right;">商品总计：￥<span id="totalAmount"></span><span class="button" id="sbtn">现在结算</span></div>
					</div>
				</div>
			</div>
			<div id="pagination_div"></div>
		</div>
	</div>
</div>
</#macro>