<#assign title="找回密码"/>
<#assign controller="FindPwd"/>
<#include 'layout/layout1.html'/>
<#macro content>
	<div class="register_mask"></div>
	<div class="register_wrapper">
		<div class="register_dialog" style="margin: -228px 0 0 -218px;">
			<div class="register_title">
				<h4>设置新登录密码</h4>
			</div>
			<div class="register_content">
				<form>
					<ul class="common-form">
						<li class="register_username">
							<div class="register_input">
								<span class="register_icon"><i>手机号</i></span>
								<span class="ccc">86</span>
								<span class="register_placeholder" style="display: block;">手机号</span>
								<input type="text" id="mobile" class="register_mobile" name="mobile">
								<span class="warning">请输入手机号</span>
								<span class="warning">手机号格式错误</span>
								<span class="warning">该手机未注册</span>
								<span class="success" style="display: none;"></span>
							</div>
						</li>
	
						<li class="register_verification">
							<div class="register_input">
								<span class="register_icon"><i>短信验证码</i></span>
								<span class="register_placeholder">短信验证码</span>
								<input type="text" id="verification" name="verification">
								<span class="warning">请输入验证码</span>
								<span class="warning">验证码错误</span>
								<span class="warning">请重新获取验证码</span>
								<span class="success" style="display: none;"></span>
							</div>
							<div class="register_btn"><a id="getVerification">获取验证码</a></div>
						</li>
						
						<li class="register_password">
							<div class="register_input">
								<span class="register_icon"><i>输入新密码</i></span>
								<span class="register_placeholder">输入新密码</span>
								<input type="password" name="password" id="password">
								<span class="warning">请输入密码</span>
								<span class="warning">密码格式错误</span>
								<span class="success" style="display: none;"></span>
							</div>
							<div class="register_tips" style="display: none;">
								<span class="delta"></span>
								<span class="deltapatch"></span>
								<span class="warningicon"></span>
								<div class="register_verifycon">
									<p>密码长度6~16位，可以是数字、字母和任意字符</p>
								</div>
							</div>
						</li>
						<li class="register_password_repeat">
							<div class="register_input">
								<span class="register_icon"><i>重复密码</i></span>
								<span class="register_placeholder">再次输入</span>
								<input type="password" name="repassword" id="repassword">
								<span class="warning">请重复输入密码</span>
								<span class="warning">两次密码输入不一致</span>
								<span class="success" style="display: none;"></span>
							</div>
							<div class="register_tips" style="display: none;">
								<span class="delta"></span>
								<span class="deltapatch"></span>
								<span class="warningicon"></span>
								<div class="register_verifycon">
									<p>密码长度6~16位，可以是数字、字母和任意字符</p>
								</div>
							</div>
						</li>
					</ul>
					<div class="register_btn-wrapper">
						<div class="register_btn register_btn-primary"><a id="next">下一页</a></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</#macro>