<#assign title="我的订单"/>
<#assign controller="OrderList"/>
<#include 'layout/layout.html'/>
<#macro content>
<div class="container browser-webkit account-address" id="container"
	style="background-color: #FAFAFA; width: 100%; padding-top: 20px; padding-bottom: 20px;">
	<div class="user-info-body">
		<#if user.kind != "f2">
		<div class="user-sidebar">
			<div class="avatar">
				<img src="${staticUrl}/images/04481549.png" />
			</div>
			<div class="box-inner">
				<ul class="account-nav">
					<li class="current"><a href="./order_list.htm">我的订单</a></li>
					<li><a href="./user_info.htm">账户资料</a></li>
					<li><a href="./user_address.htm">收货地址</a></li>
				</ul>
			</div>
		</div>
		</#if>
		<div class="user-content" style="box-shadow: none;<#if user.kind == "f2">margin-left:0;<#else>margin-left:230px;</#if>">
			<div class="cont-title">
				<h2>我的订单</h2>
				<div class="gray-btn-menu sort-status-menu" style="position: relative;"><!-- gray-btn-menu-on -->
					<span class="label" id="order_status" style="width: 70px;">
						<i class="arrow"></i><span>全部状态</span>
					</span>
					<ul class="menu-list hide-ul" id="status_ul"></ul>
				</div>
			</div>
			<div class="cont-body">
				<ul class="order-list-ul" id="ol-ul">
					<i class='loading-icon'></i>
					<!-- <li>
						<div class="cb-nav">
							<span class="order-date">2016-05-21</span>
							<span class="order-no" style="width: 240px;">订单号：<span>11111255488</span></span>
							<span class="order-unit">单价</span>
							<span class="order-count">数量</span>
							<span class="order-amount">应付总额</span>
							<span class="order-detail">查看详情</span>
						</div>
						<div class="cb-list-item ol-list-item">
							<ul style="display:inline-block;">
								<li class="order-img"><img src="${staticUrl}/images/1.png"/></li>
								<li class="order-name"><span>胶囊咖啡机</span></li>
								<li class="order-unit">￥123.00</li>
								<li class="order-count">20</li>
							</ul>
							<ul>
								<li class="order-img"><img src="${staticUrl}/images/1.png"/></li>
								<li class="order-name"><span>胶囊咖啡机</span></li>
								<li class="order-unit">￥123.00</li>
								<li class="order-count">20</li>
							</ul>
							<ul>
								<li class="order-img"><img src="${staticUrl}/images/1.png"/></li>
								<li class="order-name"><span>胶囊咖啡机</span></li>
								<li class="order-unit">￥123.00</li>
								<li class="order-count">20</li>
							</ul>
							<div>
								<ul>
									<li class="order-amount">￥24600.00</li>
									<li class="order-detail no-pay"><span class="button">现在付款</span></li>
								</ul>
							</div>
						</div>
					</li> -->
					<!-- <li>
						<div class="cb-nav">
							<span class="order-date">2016-05-21</span>
							<span class="order-no">订单号：<span>11111255488</span></span>
							<span class="order-unit">单价</span>
							<span class="order-count">数量</span>
							<span class="order-amount">应付总额</span>
							<span class="order-detail">查看详情</span>
						</div>
						<div class="cb-list-item pad24">
							<ul>
								<li class="order-img"><img src="${staticUrl}/images/1.png"/></li>
								<li class="order-name"><span>胶囊咖啡机<br/>商品型号：<span>LZP-5000</span></span></li>
								<li class="order-unit">￥123.00</li>
								<li class="order-count bd-right">20</li>
								<li class="order-amount">￥24600.00</li>
								<li class="order-detail"><span class="button">已关闭</span></li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cb-nav">
							<span class="order-date">2016-05-21</span>
							<span class="order-no">订单号：<span>11111255488</span></span>
							<span class="order-unit">单价</span>
							<span class="order-count">数量</span>
							<span class="order-amount">应付总额</span>
							<span class="order-detail">查看详情</span>
						</div>
						<div class="cb-list-item pad24">
							<ul>
								<li class="order-img"><img src="${staticUrl}/images/1.png"/></li>
								<li class="order-name"><span>胶囊咖啡机<br/>商品型号：<span>LZP-5000</span></span></li>
								<li class="order-unit">￥123.00</li>
								<li class="order-count bd-right">20</li>
								<li class="order-amount">￥24600.00</li>
								<li class="order-detail"><span class="button">已关闭</span></li>
							</ul>
						</div>
					</li> -->
				</ul>
			</div>
			<div id="pagination_div"></div>
		</div>
	</div>
</div>
</#macro>
