<div class="">应付金额：￥{{totalAmount}}</div>
<div class="clearfix">
    <div class="fl">配送地址：</div>
    <div class="wp100 pl5em">
        <div>{{receiver}} / {{reMobile}}</div>
        <div>{{reAddress}}</div>
    </div>
</div>