<#assign title="产品列表页"/>
<#assign controller="MallList"/>
<#include 'layout/layout.html'/>
<#macro content>
	<div class="mall_list_header">
		<div id="headDetail" class="detail">
			<a class="btr-direct btr-l" id="btr-l" style="width: 36px;">&lt;</a>
			<ul></ul>
			<a class="btr-direct btr-r" id="btr-r" style="width: 36px;">&gt;</a>
		</div>
	</div>
	<div class="container" id="container">
		<div id="mall_list_body" class="mall_list_body">
			<i class='loading-icon'></i>
		</div>
	</div>
</#macro>