<div class="oneServices">
    <div class="" data-dojo-attach-point="iconNode">
        ${item.name}
    </div>
    <div class="servicesInformation">
        <a href="${baseUrl}/operator/index.htm?id=${item.trader}" target="_blank"><div class="servicesMan">
            <img src="${staticUrl}/images/services/photo.png">
            <p class="manName">操盘手：${item.traderName}</p>
        </div></a>
        <div class="moneyInformation">
            <!--有增益部分写法-->
            <div>
                <div class="lilv fl" data-dojo-attach-point="quote1Ctn">
                    <span data-dojo-attach-point="quote1Node"></span><font>%</font><br>
                    保本年化
                </div>
                <div class="lilv fl" data-dojo-attach-point="quote2Ctn">
                    <div class="splite" data-dojo-attach-point="splitNode"></div>
                    <span data-dojo-attach-point="quote2Node"></span><font>成</font><br>
                    增益部分
                </div>
                <div class="clb"></div>
            </div>
            <!--有增益部分写法结束-->
            <div class="moneyTime">
                <span class="mr40">期限&nbsp;&nbsp;<font data-dojo-attach-point="periodNode"></font></span>起投&nbsp;&nbsp;<font data-dojo-attach-point="minInvestAmountNode"></font>元
            </div>
        </div>
        <div class="clb"></div>
    </div>
    <div class="moneyNumber">
        <div class="allMoney">总金额：<font data-dojo-attach-point="amountNode"></font>元</div>
        <div class="lastMoney">剩余可投：<font data-dojo-attach-point="amountLeftNode"></font>元</div>
    </div>
    <div class="moneyProcessPanle">
        <div class="moneyProcess">
            <div class="proLine" data-dojo-attach-point="percentLineNode"></div>
        </div>
        <div class="moneyProcessNumber" data-dojo-attach-point="percentNode">

        </div>
    </div>
    <div class="lastTimePanel">
        <div class="lastTime">募集截止时间：<span data-dojo-attach-point="mjendDatetimeNode"></span></div>
        <a data-dojo-attach-point="linkNode" class="btn110-orange fr" data-dojo-type="app/ux/GenericButton" data-dojo-props="height: 32, width: 110"><span>立即认购</span></a>
    </div>
    <div class="modelLogo">
        <img data-dojo-attach-point="quoteImgNode">
    </div>
</div>