<div class="optimizeDetail">
    <div class="detailTitlefirst">
        ${item.name}
    </div>
    <div class="explain">
        <div class="detailName">
            收益说明
        </div>
        <p data-dojo-attach-point="feeNode"></p>
    </div>
    <div class="debtRatios" data-dojo-attach-point="fc1" style="display: none;">
        <div class="detailName">
            负债率
        </div>
        <span data-dojo-attach-point="f1"></span>
    </div>
    <div class="debtRatios" data-dojo-attach-point="fc2" style="display: none;">
        <div class="detailName">
            销售收入
        </div>
        <span data-dojo-attach-point="f2"></span>
    </div>
    <div class="debtRatios" data-dojo-attach-point="fc3" style="display: none;">
        <div class="detailName">
            认购
        </div>
        <span data-dojo-attach-point="f3"></span>
    </div>
    <div class="debtRatios" data-dojo-attach-point="fc4" style="display: none;">
        <div class="detailName">
            股票代码
        </div>
        <span data-dojo-attach-point="f4"></span>
    </div>
    <div class="debtRatios">
        <div class="detailName">

        </div>
        <a class="btn240-orange" data-dojo-attach-point="f0"></a>
    </div>
</div>