<div class="eqDetail">
    <div class="" data-dojo-attach-point="iconNode">
        ${item.name}
    </div>
    <div class="eqInfoWrap">
        <div class="eqInfo">
            <div class="rateTimeWrap">
                <div class="rateTime"  data-dojo-attach-point="quote1Ctn">
                    <div class="rate">
                        <span class="orange"><font data-dojo-attach-point="quote1Node"></font>%</span><br>
                        保本年化
                    </div>
                </div>
                <div class="rateTime" data-dojo-attach-point="quote2Ctn">
                    <div class="splite" data-dojo-attach-point="splitNode">
                    </div>
                    <div class="rate">
                        <span class="orange"><font data-dojo-attach-point="quote2Node"></font>成</span><br>
                        增益部分
                    </div>
                </div>
                <div class="rateTime">
                    <div class="splite">
                    </div>
                    <div class="rate">
                        <font data-dojo-attach-point="periodNode"></font><br>
                        期限
                    </div>
                </div>
                <div class="rateTime">
                    <div class="splite">
                    </div>
                    <div class="rate">
                        <font data-dojo-attach-point="minInvestAmountNode"></font>元<br>
                        起投
                    </div>
                </div>
                <div class="clb"></div>
            </div>
            <div class="eqMoney">
                <div class="fr">总金额：<font data-dojo-attach-point="amountNode"></font>元</div>
                <div class="fl">剩余可投：<font data-dojo-attach-point="amountLeftNode"></font>元</div>
            </div>
            <div class="eqProcesswrap">
                <div class="eqProcess">
                    <div class="eqProcessLine" data-dojo-attach-point="percentLineNode"></div>
                </div>
                <div class="eqProcessRate" data-dojo-attach-point="percentNode"></div>
            </div>
            <div class="eqLastTime">募集截止时间：<font data-dojo-attach-point="mjendDatetimeNode"></font></div>
        </div>
        <div class="buyMoney">
            <span data-dojo-attach-point="inputNode"></span>
            <a class="btn240-orange"><span id="confirmBtn" data-dojo-type="app/ux/GenericButton" data-dojo-props="height: 50, width: 240, textStyle: {'fontSize': '20px'}">立即投资</span></a>
        </div>
        <div class="clb"></div>
    </div>
    <div class="modelLogo">
        <img data-dojo-attach-point="quoteImgNode">
    </div>
</div>