<div class="doMan fl ${type} btn">
    <div class="detailTitleThird">操作员介绍
    </div>
    <div class="doManInfo">
        <div class="doManPhotoWrap">
            <img src="${item.photo}">
                    <span>
                        <font>操盘手：${item.realName}</font><br>
                        等级：<font>${item.level}</font>级
                    </span>
        </div>
        <div class="doManDetail">
            <div class="telAndMcromessage">
                ${!item.introduction}
                <p class="fl mr40"><img src="${staticUrl}/images/detail/tel.png">${item.mobile}</p>
                <p class="clb"></p>
            </div>
        </div>
        <div class="clb"></div>
    </div>
</div>