<div class="iframe_dialog login_dialog" data-dojo-attach-point="iframe_dialog">
    <div class="login_mask"></div>
    <div class="login_wrapper">
        <div class="login_dialog">
            <div class="login_title">
                <h4 style="cursor:default;">登录</h4>
                <a class="close" data-dojo-attach-point="loginClose"></a>
            </div>
            <div class="login_content">
                <form>
                    <ul class="common-form">
                        <li class="login_username">
                            <div class="login_input">
                                <span class="login_icon"><i>手机号</i></span>
                                <span class="login_placeholder" style="display: block;">手机号</span>
                                <input type="text" data-dojo-attach-point="username" id="username">
                                <span class="warning">请输入手机号</span>
                                <span class="warning">手机号格式错误</span>
                            </div>
                        </li>
                        <li class="login_password">
                            <div class="login_input">
                                <span class="login_icon"><i>密码</i></span>
                                <span class="login_placeholder">密码</span>
                                <input type="password" data-dojo-attach-point="password" id="password">
                                <span class="warning">请输入密码</span>
                                <span class="warning">密码错误</span>
                            </div>
                        </li>
                        <li class="login_remember">
                            <div class="login_auto">
                                <span><input type="checkbox" data-dojo-attach-point="saveUsername"/></span>保存用户名
                            </div>
                            <a class="registercloud" data-dojo-attach-point="registerUser">注册新账户</a>
                            <a class="forgotpassword" data-dojo-attach-point="forgotPwd" href="${baseUrl}/user/findPwd.htm" target="_blank">忘记密码？</a>
                        </li>
                    </ul>
                    <div class="login-btn-wrapper">
                        <div class="login-btn login-btn-primary">
                            <a data-dojo-attach-point="login" style="background:#EDAC49;background: linear-gradient(#EDAC49,#F39A12);">登录</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>