<div class="iframe_dialog register_dialog" data-dojo-attach-point="iframe_dialog">
    <div class="register_mask"></div>
    <div class="register_wrapper">
        <div class="register_dialog">
            <div class="register_title">
                <h4>注册</h4>
                <a class="close" data-dojo-attach-point="regClose"></a>
            </div>
            <div class="register_content">
                <form>
                    <ul class="common-form">
                        <li class="register_username">
                            <div class="register_input">
                                <span class="register_icon"><i>手机号</i></span>
                                <span class="ccc">86</span>
                                <span class="register_placeholder" style="display: block;">手机号</span>
                                <input type="text" data-dojo-attach-point="mobile" class="register_mobile" name="mobile">
                                <span class="warning">请输入手机号</span>
                                <span class="warning">手机号格式错误</span>
                                <span class="warning">该手机已经注册</span>
                                <span class="success" style="display: none;"></span>
                            </div>
                        </li>
                        <li class="register_verification">
                            <div class="register_input">
                                <span class="register_icon"><i>短信验证码</i></span>
                                <span class="register_placeholder">短信验证码</span>
                                <input type="text" data-dojo-attach-point="verification" name="verification">
                                <span class="warning">请输入验证码</span>
                                <span class="warning">验证码错误</span>
                                <span class="warning">请重新获取验证码</span>
                                <span class="success" style="display: none;"></span>
                            </div>
                            <div class="register_btn"><a data-dojo-attach-point="getVerification">获取验证码</a></div>
                        </li>
                        <!--<li class="register_mail">
                            <div class="register_input">
                                <span class="register_icon"><i>邮箱</i></span>
                                <span class="register_placeholder">邮箱</span>
                                <input type="text" name="mail" data-dojo-attach-point="mail">
                                <span class="warning">请输入邮箱</span>
                                <span class="warning">邮箱格式错误</span>
                                <span class="warning">该邮箱已经注册</span>
                                <span class="success" style="display: none;"></span>
                            </div>
                        </li>-->
                        <li class="register_password">
                            <div class="register_input">
                                <span class="register_icon"><i>密码</i></span>
                                <span class="register_placeholder">密码</span>
                                <input type="password" name="password" data-dojo-attach-point="password">
                                <span class="warning">请输入密码</span>
                                <span class="warning">密码格式错误</span>
                                <span class="success" style="display: none;"></span>
                            </div>
                            <div class="register_tips" style="display: none;">
                                <span class="delta"></span>
                                <span class="deltapatch"></span>
                                <span class="warningicon"></span>
                                <div class="register_verifycon">
                                    <p>密码长度6~16位，可以是数字、字母和任意字符</p>
                                </div>
                            </div>
                        </li>
                        <li class="register_password_repeat">
                            <div class="register_input">
                                <span class="register_icon"><i>重复密码</i></span>
                                <span class="register_placeholder">重复密码</span>
                                <input type="password" name="repassword" data-dojo-attach-point="repassword">
                                <span class="warning">请重复输入密码</span>
                                <span class="warning">两次密码输入不一致</span>
                                <span class="success" style="display: none;"></span>
                            </div>
                            <div class="register_tips" style="display: none;">
                                <span class="delta"></span>
                                <span class="deltapatch"></span>
                                <span class="warningicon"></span>
                                <div class="register_verifycon">
                                    <p>密码长度6~16位，可以是数字、字母和任意字符</p>
                                </div>
                            </div>
                        </li>
                        <li class="register_captcha">
                            <div class="register_input">
                                <span class="register_icon"><i>验证码</i></span>
                                <span class="register_placeholder">验证码</span>
                                <input type="text" data-dojo-attach-point="captcha" name="captcha">
                                <span class="warning">请输入验证码</span>
                                <span class="warning">验证码错误</span>
                            </div>
                            <div class="tips-verifycon" i-label="captcha">
                                <img src="#" width="140" height="48" data-dojo-attach-point="captchaImg"/>
                            </div>
                        </li>
                    </ul>
                    <div class="register_btn-wrapper">
                        <div class="register_btn register_btn-primary"><a data-dojo-attach-point="registerAction">注册</a></div>
                        <p class="register_agreement">
                            <span class="register_checkbox"><input data-dojo-attach-point="registCheck" type="checkbox" checked/></span>我已阅读并同意遵守
                            <a target="_blank">法律声明</a> 和 <a target="_blank">隐私条款</a>
                        </p>
                        <p class="register_tologin">
                            <a>如果您已拥有账户，则可在此<span data-dojo-attach-point="regLogin">登录</span></a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>