<div class="iframe_dialog register_dialog" data-dojo-attach-point="iframe_dialog">
    <div class="register_mask"></div>
    <div class="register_wrapper">
        <div class="register_dialog" style="margin: -181.5px 0 0 -218px;">
            <div class="register_title">
                <h4>设置交易密码</h4>
            </div>
            <div class="register_content">
                <form>
                    <ul class="common-form">
                        <li class="register_password">
                            <div class="register_input">
                                <span class="register_icon"><i>原交易密码</i></span>
                                <span class="register_placeholder">原交易密码</span>
                                <input type="password" data-dojo-attach-point="origPassword">
                                <span class="warning">请输入原交易密码</span>
                                <span class="warning">原交易密码格式错误</span>
                                <span class="success" style="display: none;"></span>
                            </div>
                            <div class="register_tips" style="display: none;">
                                <span class="delta"></span>
                                <span class="deltapatch"></span>
                                <span class="warningicon"></span>
                                <div class="register_verifycon">
                                    <p>密码长度6~16位，可以是数字、字母和任意字符</p>
                                </div>
                            </div>
                        </li>
                        <li class="register_password">
                            <div class="register_input">
                                <span class="register_icon"><i>新交易密码</i></span>
                                <span class="register_placeholder">新交易密码</span>
                                <input type="password" data-dojo-attach-point="password">
                                <span class="warning">请输入新交易密码</span>
                                <span class="warning">新交易密码格式错误</span>
                                <span class="success" style="display: none;"></span>
                            </div>
                            <div class="register_tips" style="display: none;">
                                <span class="delta"></span>
                                <span class="deltapatch"></span>
                                <span class="warningicon"></span>
                                <div class="register_verifycon">
                                    <p>密码长度6~16位，可以是数字、字母和任意字符</p>
                                </div>
                            </div>
                        </li>
                        <li class="register_password_repeat">
                            <div class="register_input">
                                <span class="register_icon"><i>重复输入新交易密码</i></span>
                                <span class="register_placeholder">重复输入新交易密码</span>
                                <input type="password" data-dojo-attach-point="repassword">
                                <span class="warning">请重复输入新交易密码</span>
                                <span class="warning">两次新交易密码输入不一致</span>
                                <span class="success" style="display: none;"></span>
                            </div>
                            <div class="register_tips" style="display: none;">
                                <span class="delta"></span>
                                <span class="deltapatch"></span>
                                <span class="warningicon"></span>
                                <div class="register_verifycon">
                                    <p>密码长度6~16位，可以是数字、字母和任意字符</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="register_btn-wrapper">
                        <div class="register_btn register_btn-primary"><a data-dojo-attach-point="nextAction">下一步</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>