<ul class="share-wrapper clearfix">
    <li class="share-item">
        <a title="分享到微信" data-action="weixin" class="share-weixin">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-weixin fa-stack-1x fa-inverse"></i>
            </span></a>
        <div class="share-weixin-pop">
            <i></i>
            <em></em>
            <div class="clearfix">
                <div class="ewm-item cm-left am-right-10">
                    <div id="qrcode" style="width:100px; height:100px;"></div>
                </div>
                <div class="cm-left" style="width: 20px;">
                    <div>微信扫一扫</div>
                </div>
            </div>
        </div>
    </li>
    <li class="share-item">
        <a title="分享到微博" data-action="weibo" class="share-weibo">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
            </span></a>
    </li>
    <li class="share-item">
        <a title="分享到QQ" data-action="qq" class="share-qq">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-qq fa-stack-1x fa-inverse"></i>
            </span></a>
    </li>
    <li class="share-item">
        <a title="分享到人人" data-action="renren" class="share-renren">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-renren fa-stack-1x fa-inverse"></i>
            </span></a>
    </li>
</ul>