<ul class="sidemenu">
    <li><i class="fa fa-home d-icon"></i><em><a href="${baseUrl}/home/index.htm">会员中心</a></em></li>
    <li><i class="fa fa-money d-icon"></i><em><a>我的融资</a></em><i class="fa fa-caret-down d-caret-down"></i></li>
    <ul>
        <li><em><a href="${baseUrl}/financing/apply.htm">我的申请</a></em></li>
        <li><em><a href="${baseUrl}/financing/contracts.htm">当前合约</a></em></li>
        <li><em><a href="${baseUrl}/financing/hiscontract.htm">历史合约</a></em></li>
    </ul>
    <li><i class="fa fa-user d-icon"></i><em><a>我的账户</a></em><i class="fa fa-caret-down d-caret-down"></i></li>
    <ul>
        <li><em><a href="${baseUrl}/account/recharge.htm">我要充值</a></em></li>
        <li><em><a href="${baseUrl}/account/withdraw.htm">我要提现</a></em></li>
        <li><em><a href="${baseUrl}/account/fund.htm">资金明细</a></em></li>
        <li><em><a href="${baseUrl}/account/bankcard.htm">银行卡信息</a></em></li>
        <li><em><a href="${baseUrl}/account/info.htm">个人资料</a></em></li>
        <li><em><a href="${baseUrl}/account/security.htm">账户安全</a></em></li>
        <li><em><a href="${baseUrl}/user/avatar.htm">我的头像</a></em></li>
    </ul>
    <li><i class="fa  fa-shopping-cart d-icon"></i><em><a>交易中心</a></em><i class="fa fa-caret-down d-caret-down"></i></li>
    <ul>
        <li><em><a href="${baseUrl}/trade/assets.htm">我的资产</a></em></li>
        <li><em><a href="${baseUrl}/trade/buy.htm">买入</a></em></li>
        <li><em><a href="${baseUrl}/trade/sell.htm">卖出</a></em></li>
        <li><em><a href="${baseUrl}/trade/withdrawal.htm">撤单</a></em></li>
        <li><em><a href="${baseUrl}/trade/entrust.htm">委托查询</a></em></li>
        <li><em><a href="${baseUrl}/trade/deal.htm">成交查询</a></em></li>
        <li><em><a href="${baseUrl}/trade/in.htm">追加保证金</a></em></li>
        <li><em><a href="${baseUrl}/trade/out.htm">转出盈利</a></em></li>
    </ul>
    <li><i class="fa fa-envelope d-icon"></i><em><a href="${baseUrl}/msg/main.htm">我的消息</a></em></li>
    <li style="display: none;" data-dojo-attach-point="P2PNode"><i class="fa fa-dot-circle-o d-icon"></i><em><a>投标赚钱</a></em>
        <i class="fa fa-caret-down d-caret-down"></i>
    </li>
    <ul style="display: none;" data-dojo-attach-point="P2PItemsNode">
        <li><em><a href="${baseUrl}/tender/info.htm">我的投标</a></em></li>
    </ul>
    <li data-dojo-attach-point="popularizeNode"></li>

</ul>