<div>
    <div class="sidemenu1 sidemainmenu" style="font-size: 20px;"><a>会员中心</a></div>
    <div class="sidemenu2 sidemainmenu"><a>速配通</a></div>
    <div class="sidemenu3 sidemainmenu t1"><a>投标借</a></div>
    <div class="sidemenu4 sidemainmenu t1"><a>理财</a></div>
    <ul class="sidemenu" data-dojo-attach-point="subMenuNode">
        <li><span class="fa-stack fa-lg d-icon">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
</span><em><a>资金管理</a></em><i class="fa fa-caret-down d-caret-down"></i></li>
        <ul>
            <li><em><a>我要充值</a></em></li>
            <li><em><a>我要提现</a></em></li>
            <li><em><a>资金明细</a></em></li>
        </ul>
        <li><span class="fa-stack fa-lg d-icon">
  <i class="fa fa-circle fa-stack-2x mcolor"></i>
  <i class="fa fa-user fa-stack-1x fa-inverse"></i>
</span><em><a>账户设置</a></em><i class="fa fa-caret-down d-caret-down"></i></li>
        <ul>
            <li><em><a>个人信息</a></em></li>
            <li><em><a>安全信息</a></em></li>
            <li><em><a>银行卡管理</a></em></li>
            <li><em><a>我的消息</a></em></li>
            <li><em><a>我的消息</a></em></li>
        </ul>
    </ul>
</div>
