<#if topCss??> <@topCss/> </#if>
<link rel="stylesheet" type="text/css" href="${staticUrl}/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="${staticUrl}/css/nprogress.css" />
<link rel="stylesheet" type="text/css" href="${staticUrl}/css/common.css?${jsVersion}" />
<link rel="stylesheet" type="text/css" href="${staticUrl}/css/common2.css?${jsVersion}" />
<link rel="stylesheet" type="text/css" href="${staticUrl}/css/app.css?${jsVersion}" />
<link rel="stylesheet" type="text/css" href="${staticUrl}/css/core.css?${jsVersion}" />
<link rel="stylesheet" type="text/css" href="${staticUrl}/css/page.css?${jsVersion}" />
<link rel="stylesheet" type="text/css" href="${staticUrl}/css/xn-mall.css?${jsVersion}" />
<#if subCss??> <@subCss/> </#if>