<div class="footer">
	<div class="foot-cont">
		<div class="foot-top">
			<div class="inblock">
				<ul class="center-ul first-blod">
					<li><span>订单服务</span></li>
					<li><a>购买方式</a></li>
					<li><a>支付方式</a></li>
					<li><a>送货政策</a></li>
				</ul>
			</div>
			<div class="inblock">
				<ul class="center-ul first-blod">
					<li><span>服务支持</span></li>
					<li><a href="${basePath}/user/after_service.htm">售后服务</a></li>
					<li><a>维修门店</a></li>
					<li><a>零售门店</a></li>
				</ul>
			</div>
			<div class="inblock">
				<ul class="center-ul first-blod">
					<li><span>关于公司</span></li>
					<li><a>公司简介</a></li>
					<li><a>合作伙伴</a></li>
					<li><a>联系我们</a></li>
				</ul>
			</div>
			<div class="inblock foot-info">
				<div class="text-right" style="margin-top: 3px;"><div class="btn p-relative" style="color:#fff;text-align:left;text-indent:15px;padding-left:26px;">在线咨询</div></div>
				<div class="text-right big20-black" style="margin-top: 8px;">400-xxxx-1222</div>
				<div class="text-right" style="margin-top:-4px;">周一至周日9:00-18:00</div>
			</div>
		</div>
		<div class="foot-bottom">
			Copyright © 2016,Ningbo taste & time Food Trading Co.,Ltd.All Rights Reserved.宁波品味时光食品贸易有限公司<br/>
			<a>隐私政策</a><span class="margin-10">|</span><a>隐私政策</a><span class="margin-10">|</span><a>隐私政策</a><span class="margin-10">|</span><a>隐私政策</a><span class="margin-10">|</span><a>隐私政策</a>
		</div>
	</div>
</div>