<div class="mod-head">
    <div class="div1050">
        <div class="logo_img">
        	<a id="logoImg" href="${basePath}/home/index.htm"><img src="${staticUrl}/images/logo.png"/></a>
        </div>
		<div class="category">
			<ul id="headProdUl" class="headul">
				<a href="${basePath}/detail/mall_list.htm?type=1"><li>胶囊咖啡机</li></a>
				<a href="${basePath}/detail/mall_list.htm?type=3"><li>饮水机</li></a>
				<a href="${basePath}/user/after_service.htm"><li>售后服务</li></a>
			</ul>
		</div>
		<div class="bag_img" id="bag_img"></div>
    </div>
</div>