<#include 'layout/config.html'/>
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
<meta name="renderer" content="webkit">
<link rel="shortcut icon" type="image/ico" href="${staticUrl}/images/favicon.ico">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Expires" content="0" />
<!--[if lt IE 9]><script src="//libs.cncdn.cn/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]-->
<#include 'layout/css.html'/>
<title>${title}</title>
</head>
<body class="claro firstTheme layout-flex-column ${bodyTheme} ${bodyBg}">
<!--[if lt IE 9]>
<div class="alert-warning" style="margin-bottom:0;text-align:center;">
  <p>你的浏览器不支持网站的一些新特性，请升级你的浏览器至IE最新版或<a href="http://browsehappy.com/">Chrome</a>。
  </p>
  <p>2016年了，IE8及以下都老了...</p>
</div>
<![endif]-->
<div id="top"></div>
	<#include 'layout/head.html'/>
	<div class="content-wrapper"><#if content ??> <@content/></#if></div>
	<#include 'layout/foot.html'/>
	<#include 'layout/js.html'/>
</body>
</html>