<div class="reg-l ui-form signup" data-dojo-attach-point="formNode">
    <div class="ui-prompt" style="height: 100%;">
        <div style="display: table;height: 100%;margin: 0px auto;">
            <div class="con-success clearfix" style="display: table-cell;vertical-align: middle;">
                <div class="successIcon-lside"></div>
                <div class="successText-rside">
                    <p class="layout01"><i data-dojo-attach-point="typeNode" class="fa"></i><b data-dojo-attach-point="msgNode"></b></p>
                    <p class="layout03"><span data-dojo-attach-point="subMsgNode"></span></p>
                    <p class="layout02"><a data-dojo-attach-point="linkNode"></a>&nbsp;&nbsp;&nbsp;
                        <a data-dojo-attach-point="linkNode2"></a></p>
                </div>
            </div>
        </div>
    </div>
</div>