<#assign name="企业认证"/>
<#assign controller="KYC"/>
<#include 'layout/layout.html'/>
<#macro subCss>
<link rel="stylesheet" type="text/css"
          href="${staticUrl}/css/upload.css<#if jsVersion>?${jsVersion}</#if>" />
</#macro>
<#macro content>
	<div class="top">
		<div class="container" id="container">
		<div class="uploadProcess">
			<div class="processOne active">
		    	填写企业信息
		    </div>
		    <div class="processTwo">
		    	上传基本资料
		    </div>
		    <div class="processThree">
		    	提交审核
		    </div>
		    <div class="processFour">
		    	审核完成
		    </div>
		    <div class="clb"></div>
		</div>
		</div>
	</div>
</#macro>
