<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
<meta name="renderer" content="webkit">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Expires" content="0" />
<title>404</title>
<style>
	ul li{
		list-style: none;
	}
</style>
<#include 'layout/config.html'/>
</head>
<body>
<!--[if lt IE 9]>
<div class="alert-warning" style="margin-bottom:0;text-align:center;">
  <p>你的浏览器不支持网站的一些新特性，请升级你的浏览器至IE最新版或<a href="http://browsehappy.com/">Chrome</a>。
  </p>
  <p>2016年了，IE8及以下都老了...</p>
</div>
<![endif]-->
<div class="container1">
        <div class="contents content table">
            <div class="clearfix grid-1000 center">
                <ul id="scene" class="scene">
                    <li class="layer" data-depth="0.40">
                        <ul class="cm-right scale" style="height: 100%;width: 100%;">
                            <li class="text404">
                                <ul>
                                    <li class="swing1">您访问的资源找不到啦@~@<a class="board-text2" href="${basePath}/home/index.htm">
                                    
                                    网站首页</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
