* {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%
}

li,ol,ul {
    list-style: none
}

em,i {
    font-style: normal
}

img {
    border: none
}

img,input {
    vertical-align: middle
}

body {
    background: #fff;
    color: #666;
    font-size: 14px;
    font-family: arial
}

a {
    color: #666;
    text-decoration: none
}

body,html {
    background: #f9f9f9;
    width: 100%;
    height: 100%;
    font-family: Helvetica,sans-serif;
    -webkit-text-size-adjust: none
}

* {
    -webkit-tap-highlight-color: transparent
}

input.fixAKeyboard:focus,textarea.fixAndroidKeyboard:focus {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-user-modify: read-write-plaintext-only
}

.noscroll {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.app-dom {
    width: 100%
}

.clearfix:after {
    display: block;
    content: '';
    clear: both;
    visibility: hidden
}

body {
    font: 12px/1.5 "Microsoft YaHei",tahoma,arial,Hiragino Sans GB,\5b8b\4f53;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%
}

a {
    text-decoration: none
}

.header {
    position: fixed;
    width: 100%;
    top: 20px;
    left: 0;
    z-index: 999
}

.nav {
    width: 80%;
    height: 30px;
    line-height: 30px;
    margin: 0 auto
}

.logo {
    float: left;
    background-image: url(../images/pic/logo.png);
    display: block;
    width: 88px;
    height: 38px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100px
}

.entry {
    float: right;
    color: #fff
}

.entry .state {
    color: #bfbfbf
}

.entry a {
    font-size: 15px;
    color: #fff;
    margin: 0 5px;
    padding: 0 6px 10px
}

.entry a:hover {
    color: #dc0000;
    border-bottom: 2px solid #dc0000
}

.container {
    width: 100%;
    height: 100%;
    background-color: #fff
}

.content {
    width: 1200px;
    height: 100%;
    margin: 0 auto
}

.wrap {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 2
}

.slogan {
    width: 600px;
    height: 190px;
    background: url(../images/index_title_hd.png) no-repeat 0 0;
    display: inline-block;
    background-size: 600px
}

.mid {
    width: 100%
}

.main-entry {
    width: 360px;
    height: 50px;
    margin: 15px auto 0
}

.main-entry a {
    display: block;
    text-decoration: none;
    float: left;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px;
    letter-spacing: 1px;
    height: 40px;
    width: 170px;
    color: #FF7319;
    line-height: 40px;
    position: relative
}

.main-entry a:hover {
    color: #fff;
}

.main-entry a .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2
}

.main-entry s {
    border: 1px solid #FF7319;
    opacity: .9;
    display: block;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0
}

.main-entry a:hover s {
    background-color: #ff7200;
    color: #fff;
    opacity: 1
}

a.personal-login {
    margin-left: 20px
}

.alipay-app {
    text-align: center;
    position: absolute;
    bottom: 70px;
    left: 0;
    z-index: 3;
    width: 100%
}

.alipay-app .ma {
    width: 600px;
    margin: 0 auto
}

.alipay-app img {
    width: 60px;
    height: 60px
}

.alipay-app p {
    line-height: 30px;
    height: 30px;
    color: #fff;
    margin: 5px 0 10px
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #fff;
    z-index: 99
}

.nav-links {
    width: 99%;
    height: 20px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden
}

.footer ul {
    padding-left: 5px
}

.footer li {
    display: inline-block;
    margin: 2px
}

.footer li a {
    color: #666
}

.nav-icons {
    width: 250px;
    height: 30px;
    margin: 0 auto;
    text-align: center
}

#ServerNum,#ServerNum p {
    line-height: 10px;
    text-align: center;
    color: #fff;
    height: 10px
}

.front,.item,.items {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.back {
    bottom: 30px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden
}

.items {
    overflow: visible
}

.item {
    background: #fff none no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: none
}

.entry_item li {
    float: left;
    padding: 0 8px
}

.web_footer_cont {
    background-color: #fff;
    height: 70px
}

.web_footer_cont .w_footer_c_m {
    width: 900px;
    margin: 0 auto;
    padding: 10px 0 15px;
    height: 45px
}

.w_footer_contact {
    float: left
}

.w_footer_contact li.ft_1 {
    border-right: 1px dashed #33363f
}

.w_footer_contact li {
    float: left;
    padding: 0 12px
}

.w_footer_contact li .f_icon {
    width: 43px;
    height: 43px;
    background: url(../images/web_icon.png) no-repeat;
    display: block;
    float: left
}

.w_footer_contact li .f_main {
    float: left;
    margin-left: 15px
}

.w_footer_contact li .f_lx {
    font-size: 12px
}

.w_footer_contact li .f_ph {
    font-size: 18px
}

.w_footer_contact li.ft_2 .f_icon {
    background-position: 0 -53px
}

.w_footer_contact li.ft_2 {
    margin-left: 10px
}

.w_footer_quick {
    float: left;
    padding-right: 10px;
    margin-left: 20px
}

.w_footer_quick li {
    float: left;
    line-height: 45px;
    margin-left: 10px
}

.w_footer_quick li a {
    display: block;
    background: url(../images/web_icon.png) no-repeat;
    padding-left: 40px
}

.w_footer_quick li.ft_1 a {
    background-position: -3px -103px;
    color: #00a0e9
}

.w_footer_quick li.ft_2 a {
    background-position: -6px -153px;
    color: #6ed500
}

.w_footer_quick li.ft_3 a {
    background-position: -7px -202px;
    color: #d00
}

.web_footer .ommo_logo {
    float: right;
    width: 114px
}

.w_footer_quick li.ft_2 {
    position: relative
}

.w_footer_quick li.ft_2:hover .quick_wx {
    display: block
}

.w_footer_quick li.ft_2 .quick_wx {
    position: absolute;
    left: -2px;
    top: -115px;
    display: none
}

.web_footer_note {
    padding-bottom: 15px;
    line-height: 30px;
    text-align: center;
    color: #cacaca;
    background-color: #33363f
}

.prl6 {
    padding-left: 6px;
    padding-right: 6px
}
