.signup .ui-input {
    width: 250px;
    font-size: 14px;
    padding: 8px;
    line-height: 18px;
    left: 250px;
}

.signup .dijitButtonNode {
    width: 150px;
}

.signup .dijitComboBox .dijitButtonNode {
    width: auto;
    background-image: none;
}

.signup .dijitButtonText {
    height: 40px;
    line-height: 40px;
}

.signup .input-pwd-extra {
    top: 5px;
}

.optimizeDetail .dijitInputInner {
    line-height: 36px;
}
