<div class="reg-l ui-form signup" data-dojo-attach-point="formNode">
    <div class="ui-form-item ui-form-title">
        <label class="ui-label-head">设置新登录密码</label>
    </div>
    <div class="ui-form-item" data-dojo-attach-point="phoneNode"></div>
    <div class="ui-form-item" data-dojo-attach-point="codeNode"></div>
    <div class="ui-form-item" data-dojo-attach-point="pwdNode"></div>
    <div class="ui-form-item" data-dojo-attach-point="confirmPwdNode"></div>
    <div class="ui-form-item">
        <span data-dojo-attach-point="prevBtnNode"></span>
        <span data-dojo-attach-point="nextBtnNode"></span>
    </div>
</div>