<div class="reg-l ui-form signup" data-dojo-attach-point="formNode">
    <div class="ui-form-item ui-form-title">
        <label class="ui-label-head" data-dojo-attach-point="titleNode">修改手机号</label>
    </div>
    <div class="ui-form-item" data-dojo-attach-point="i1"></div>
    <div class="ui-form-item" data-dojo-attach-point="i2"></div>
    <div class="ui-form-item" data-dojo-attach-point="i3"></div>
    <div class="ui-form-item" data-dojo-attach-point="i4"></div>
    <div class="ui-form-item" data-dojo-attach-point="i5"></div>
</div>