<div class="reg-l ui-form signup" data-dojo-attach-point="formNode">
    <div class="ui-form-item ui-form-title">
        <label class="ui-label-head" data-dojo-attach-point="titleNode">交易密码</label>
        <p class="ui-prompt-gray" style="float: right;position: relative;left:0;">保证资金安全</p>
    </div>
    <div class="ui-form-item" data-dojo-attach-point="i1"></div>
    <div class="ui-form-item" data-dojo-attach-point="i2"></div>
    <div class="ui-form-item" data-dojo-attach-point="i3"></div>
    <div class="ui-form-item" data-dojo-attach-point="i4"></div>
    <div class="ui-form-item" data-dojo-attach-point="i5"></div>
</div>