<div>
    <div class="myleft-n clearfix">
        <a href="#">
            <img id="tou" src="${staticUrl}/images/pic/person.png" class="f imgr20">
        </a>
        <div class="f imgf20">
            <h4 data-dojo-attach-point="usernameNode"></h4>
            <div class="cm-left" style="width: 200px;">
                <div data-dojo-attach-point="userStatusNode" class="d-user-status">
                    <i data-dojo-attach-point="mobileNode" class="fa fa-mobile-phone"></i>
                    <i data-dojo-attach-point="userRealNameNode" class="fa fa-male"></i>
                    <i data-dojo-attach-point="tradePwdNode" class="fa fa-lock"></i>
                </div>
            </div>
        </div>

        <div class="df"></div>
        <div class="tag_list"><ul data-dojo-attach-point="companyNode"></ul></div>
    </div>
</div>