<#assign title="提交订单"/>
<#assign controller="SubmitOrder"/>
<#include 'layout/layout.html'/>
<#macro content>
<div class="container browser-webkit account-address" id="container"
	style="background-color: #FAFAFA; width: 100%; padding-top: 40px; padding-bottom: 40px;">
	<div class="user-info-body">
		<div class="user-content no-lr-margin">
			<div class="cont-title">
				<h2>收货信息</h2>
			</div>
			<div class="cont-body" style="background-color: #fff;">
				<div class="so-list-item cb-list-item h-auto no-lr-margin">
					<ul class="inline-div d-order-ul" id="orderAddressUl" style="height: 162px;overflow: hidden;position: relative;">
					</ul>
				</div>
			</div>
		</div>
		<div class="user-content no-lr-margin margin-t50">
			<div class="cont-title">
				<h2>发票类型</h2>
			</div>
			<div class="sbt-or cont-body browser-webkit" style="padding: 20px 0;font-size: 13px;background-color: #fff;">
				<div>
					<span>发票类型：</span>
					<div class="so-list-item cb-list-item h-auto no-lr-margin address-form">
						<div class="module-form-row form-item-select">
							<div class="module-form-item-wrapper no-icon small-item select-item city-wrapper module-small-error-wrapper">
								<select name="city_code" class="city js-form-city js-verify" id="receipt" style="width: 120px;">
								</select>
								<div class="form-item-select-after"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="margin-t7 margin-b12">
					<span>发票抬头：</span>
					<div class="module-form-row fn-clear" style="display: inline-block;">
						<div class="module-form-item-wrapper no-icon small-item small-item-location" style="width:400px;">
							<i>发票抬头</i>
							<input type="text" id="receiptTitle" class="js-verify" value="" style="width: 374px;">
							<div class="verify-error"></div>
						</div>
					</div>
				</div>
				<div><span>发票内容： 购买商品明细 </span></div>
			</div>
		</div>
		<div class="user-content no-lr-margin  margin-t50">
			<div class="cont-title">
				<h2>购物清单</h2>
			</div>
			<div class="cont-body" style="background-color: #fff;">
				<div class="cb-nav">
					<span class="d-order-name" style="width: 548px;">商品名称</span>
					<span class="d-order-unit">单价</span>
					<span class="d-order-count">数量</span>
					<span class="d-order-amount" style="padding-left: 23px;">小计</span>
				</div>
				<div class="cb-list-item h-auto no-lr-margin">
					<ul class="inline-div block-li d-order-ul" id="orderUl">
						<i class='loading-icon'></i>
						<!-- <li class="pad24">
							<div class="d-order-img"><img src="${staticUrl}/images/1.png"/></div>
							<div class="d-order-item-info">
								<ul>
									<li class="d-order-name-li">胶囊咖啡机</li>
									<li class="d-order-unit">￥600.00</li>
									<li class="d-order-count"><input type="number" id="count" style="width:70px;" value=""></li>
									<li class="d-order-amount">￥6000.00</li>
								</ul>
								<div><span>商品型号：<span>LZP-5000</span></div>
							</div>
						</li> -->
					</ul>
					<div class="d-order-total so-order-total">
						<div style="float:left;padding-left: 24px"><span>备注：</span>
						<div class="module-form-row fn-clear" style="display: inline-block;">
							<div style="width:400px;" class="module-form-item-wrapper no-icon small-item small-item-location">
								<i>备注</i>
								<input style="width:374px" type="text" id="so-bz" class="js-verify" value="">
								<div class="verify-error"></div>
							</div>
						</div></div>商品总计：￥<span id="totalAmount"></span><span class="button" id="sbtn">提交订单</span></div>
				</div>
			</div>
		</div>
	</div>
</div>
</#macro>
